.main-container{
 padding:  7em ;
  background-image: url('image 4.png');
  background-size: cover;
  background-repeat: no-repeat;
    
    
}
.main-title{
    display: flex;
    flex-direction: column;
    font-size: 3rem;
}
.image-container{
    
}
.image-main{
    max-width: 100%;
}