.main-container{
    padding: 2em;
   font-size: 4em;
  background-image: url('image 4.png');
  background-size: cover;
  background-repeat: no-repeat;
    
    
}
.main-title{
    display: flex;
    flex-direction: column;
    
}
.image-container{
    
}
.image-main{
    max-width: 100%;
}