.Cards-container{
    display: flex;
   
    
}
.cards-Wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 2em;
    /* background: #f2f2f2; */
    color: black;
    margin: 2em 0;
    /* justify-content: space-around; */
    /* padding: 4em; */
    
}

.card-wrapper{
    background: white;
    border-radius: 30px;
    padding: 1em;
}
.card-wrapper:hover{
    transform: scale(1.2)  ;
    box-shadow: 5px 5px 20px 20px rgb(64, 64, 64);
    transition: .5s;
}
.button-learnmore{
    padding: 1em 2em;
    font-size: 1rem;
    font-weight: 600;
    background: white;
    
}
.button-learnmore:hover{
    background: black;
    color: white;
    transition: 1s;
}
.description-p-tag{
    font-size: 1.5rem;
}