.Cards-container{
    display: flex;
   margin-bottom: 1em;
}
.cards-Wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 2em;
    /* background: #f2f2f2; */
    color: black;
    margin: 2em 0;
    
    /* justify-content: space-around; */
    /* padding: 4em; */
    
}
.heading-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Sora", sans-serif;
}

.card-wrapper{
    background: white;
    border-radius: 30px;
    padding: 1em;
    /* box-shadow: 1px 1px 5px 5px rgb(64, 64, 64); */
    box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
    
} 
.card-wrapper:hover{
    transform: scale(1.1)  ;
    box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.25);

    /* box-shadow: 5px 5px 20px 20px rgb(64, 64, 64); */
   
    
    transition: .5s;
}
.button-learnmore{
    padding: 1em 2em;
    font-size: 1rem;
    font-weight: 600;
    font-family: "Dosis", sans-serif;
   background: white;
}
.button-learnmore:hover{
   cursor:pointer;
    transition: 1s;
}
.description-card{
    padding: 0 1em;
}
.description-p-tag{
    font-size: 1.5rem;
    font-family: "Lato", sans-serif;
    letter-spacing: 2px;
    
}
.Heading-p{
    margin: 0;
    margin-bottom: 1em;
}
.button-learnmore-container{
    display: flex;
    justify-content: center;
}