.containing-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
}
.connecting-text-container{
    margin-left: 4em;
}
.Connecting-text{
    font-size: 5rem;
    font-weight: 600;
}

.connecting-image-container{
    width: 50%;
}
.connecting-img{
    max-width: 100%;
}