.containing-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
}
.connecting-text-container{
    display: flex;
    justify-content: flex-end;
}
.Connecting-text{
    font-size: 5rem;
    font-weight: 600;
}

.connecting-image-container{
    width: 50%;

}

.connecting-img{
    max-width: 100%;
}
.connecting-text-p{
    margin: 0;
    font-size: 1.5rem;
    font-family: "Lato", sans-serif;
}