
.Discover-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   padding: 2em 6em;
    background-color: white;  
    color: black;
    padding-bottom: 4em;

}
.discover-heading{
    margin: .3em;
    font-family: "Sora", sans-serif;
    
    font-size: 2.5rem;
    font-weight: 50;
}
.discover-bold-text{
    margin: 0;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1em;
    
    font-family: "Playfair Display", serif;
}
.discover-p{
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-size: 1.5rem;
    letter-spacing: 3px;
    
}
/* .discover-p:hover{
    letter-spacing: 3px;
    transition: 1s;
} */
.orange-text{
    color:#F96D00;
}