
.Discover-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   padding: 2em 8em;
    background-color: white;
    
    color: black;
    padding-bottom: 4em;

}
.discover-heading{
    margin: .5em;
}
.discover-bold-text{
    margin: 0;
    font-size: 3rem;
    font-weight: bolder;
    margin-bottom: 1em;
}