
.noto-serif toto-titleFinal {
    font-family: "Noto Serif Toto", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
.noto-serif-title {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.container-main{
    padding-top: 2em;
    padding-bottom: 10em; 
    margin: 0;
    background-image: url('giffile.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 4em;
    display: flex;
    align-items: center;
   /* justify-content:center; */

}
/* .gif-container{
    width: 50%;
    height: 500px;
   
} */
.Main-heading-container{
    margin-top: 2em;
    /* margin-left: 2em; */
    display: flex;
    z-index: 2;
}
.title-main{
    font-size: 2.3rem;
    font-family: "Noto Serif Toto", serif;
    color: #222831;
    font-weight: 800;
}
.image-container{
    position: absolute;
    margin-top: 2em;
   /* margin-right: 2em; */
    /* top: 25%;
    left: 40%; */
    width: 40%;
}
.image-container-2{
  
   width: 50%;
}
.main-image{
    max-width: 100%;
    display: flex;
    z-index: -1;
}
.heading-colored{
    color:#F96D00;
}



