
body{
    font-size: 1.5em;
    margin: 0;
}
.container{
    display: flex;
    justify-content: space-between;
    font-family: "Dosis", sans-serif;
    position: sticky;
    top: 5px;
    
background: rgba(196, 188, 188, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(196, 188, 188, 0.3);
z-index: 10;
padding: .2em;


}
.logo-container{
    display: flex;
    align-items: center;
    margin-left: 1em;
    color: #393E46;

}
.logo-container-p{
    margin: 0;
    padding: 0;

}
.list-container{
    width:50%;
}
.navbar-list{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    list-style-type: none;
    margin: .6em;
}

a{
    text-decoration: none;
    color: #393E46;
}
a:hover{
    color:#F96D00;
   
    cursor: pointer;
}
li:hover{
    transform: translateY(3px);
    transition: .3s ease-in-out;
}