.Wealth-container{
   
    display: flex;
    align-items: center;
    color: black;
    margin: 0;
    justify-content: space-between;
    
   
}
.wealth-image-container{
   
    width: 50%;
}
.wealth-img{
    max-width: 100%;
}
.wealth-heading-container{
   margin-right: 4em;
}
.wealth-heading{
   
    font-size: 4rem;
    margin: 0;
}
#number{
    color:#F96D00;
}
